/* FONTS */

@font-face {
  font-family: 'Inter';
  src: url('/Inter.ttf') format('truetype');
}

/* LAYOUT */

* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

:root {
  --text: #e5f5eb;
  --middle-text: #b5c4bb;
  --sec-text: #909d95;
  --background: #04090c;
  --background2: #17232c;
  --header-bg: #2a56926e;
  --secondary-action: #1d2c30;
  --primary: #084a61;
  --secondary: #2b5152;
  --accent: #4ed6f1;
  --accent-shadow: #7aa0d142;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-size: 125%;
  line-height: 1.5;
  margin: 0 auto;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  margin-bottom: 2rem;
}

span, img {
  user-select: none;
}

.full-height {
  height: 90vh;
}


.sec-text {
  color: var(--sec-text);
}

.no-pad {
  padding: 0 !important;
  margin: 0 !important;
}

/* NAVIGATION */


.site-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;

  a {
    color: var(--text);
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    color: var(--accent);
    text-decoration: underline;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: bold;
    color: var(--text);
    border-radius: 100%;
  }

  img {
    width: 1.8em;
    height: 1.8em;
    border-radius: 100%;
  }
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 48rem) {

  .site-header {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .site-nav,
  .main-menu {
    display: none;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    button {
      cursor: pointer;
      font-size: 100%;
      background: none;
      border: none;
      color: var(--text);
      height: 30px;
      padding: 0;
      margin: 0;
    }

    .logo, img {
      width: 1.8em;
      height: 1.8em;
      border-radius: 100%;
    }
  }

  body {
    font-family: Arial, sans-serif;
  }

  .menu {
    position: fixed;
    top: 0;
    left: calc(-250px - 2em);
    width: 250px;
    height: 100%;
    background-color: var(--background2);
    color: white;
    padding: 1em;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    a {
      text-decoration: none;
      color: var(--text);
    }

    a:hover {
      text-decoration: underline;
      color: var(--accent);
    }
  }

  .menu.open {
    left: 0;
  }
}

/* LISTS */

footer {
  font-size: 90%;
  font-family: "Inter";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0em 1.5em;

  a {
    padding: 0 !important;
    color: var(--accent);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    padding: 0 !important;
  }

  .active {
    text-decoration: underline;
  }
}

/* HEADERS */

.hero-box {
  margin-top: 2em;
  background-color: var(--background2);
  padding: 2.5rem 3rem;
  width: calc(100% - 6rem);
  display: flex;
  align-items: center;
  gap: 3rem;
  border-radius: 2rem;
  border: var(--accent) 2px dashed;
}

.column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0rem;
}

.hero-logo {
  border-radius: 100%;
  width: 12rem;
}

.hero-small {
  font-size: 200%;
  text-decoration: var(--accent) underline dashed;
}

.hero {
  font-size: 300%;
  padding: 0;
  margin: 0;
}

.spacer {
  height: 5em;
}

@media screen and (max-width: 900px) {
  .hero {
    text-align: center;
    font-size: 200%;
    width: calc(100% - 1em);
    padding: 0em 0.5em;
  }

  .hero-text {
    width: calc(100% - 2em);
    padding: 0em 1em;
  }
}