{{ partial "header.html" . }}

<h1 class="hero-small">{{ .Title }}</h1>

{{ .Content }}

<div class="main">
  {{ range.Data.Pages }}
  <div class="article">
    <h2 class="no-pad">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <p class="no-pad"><strong>{{ .Date.Format "January 2, 2006" }}</strong>, <em>by {{ .Params.author
        }}</em>
    </p>
    <p class="no-pad sec-text">{{ .Summary }}</p>
  </div>
  {{ end }}
</div>

<style>
  .main {
    margin-top: 1em;
    max-width: 50em;
  }

  .article:first-child {
    margin-top: 0;
  }

  .article {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    a {
      text-decoration: none;
      color: var(--accent);

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>

{{ partial "footer.html" . }}