{{ partial "header.html" . }}
{{ $currentPage := . }}

<div class="written">
    <h1 class="hero-small no-pad">{{ .Title }}</h1>
    {{ .Content }}
</div>

<style>
    .written {
        margin-top: 1em;
        max-width: 50em;

        h1 {
            margin-top: 3.2em;
        }

        h2 {
            margin-top: 1.8em;
        }

        h3 {
            margin-top: 1em;
        }

        code {
            background-color: var(--background2);
            padding: 0.4em;
            border-radius: 0.4em;
            font-family: monospace;
        }

        a {
            color: var(--accent);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
</style>
{{ partial "footer.html" . }}