<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1." />

	<meta content="{{ .Title }}" property="og:title" />
	<meta content="{{ .Params.description }}" property="og:description" />
	<meta content="https://liphium.com" property="og:url" />
	<meta content="https://liphium.com/favicon.png" property="og:image" />
	<meta content="#0a96ea" data-react-helmet="true" name="theme-color" />

	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

	<link rel="icon" href="/favicon.png">
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/material-symbols.css" />

	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `
	<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

</head>

<body>

	{{ partial "nav.html" . }}

	<main class="content">