{{ $currentPage := . }}
<header class="site-header">
  <nav class="site-nav">
    <a class="logo" href="{{ .Site.BaseURL }}">
      <img src="/logo.jpg">
    </a>

    {{ range .Site.Menus.main }}

    {{ $menu_item_url := .URL | relLangURL }}
    {{ $page_url:= $currentPage.RelPermalink | relLangURL }}

    <a class="{{ if eq $menu_item_url $page_url}}active{{ end }}" href="{{ .URL }}">
      {{ .Name }}
    </a>


    {{ end }}
  </nav>
  <nav class="mobile-nav">
    <div class="header">
      <a class="logo" href="{{ .Site.BaseURL }}">
        <img src="/logo.jpg">
      </a>

      <button onclick="document.querySelector('#menu').classList.toggle('open')">
        <span class="material-symbols" style="font-size: 30px;">menu</span>
      </button>
    </div>

    <div class="menu" id="menu">

      <div class="header">
        <a class="logo" href="{{ .Site.BaseURL }}">
          <img src="/logo.jpg">
        </a>
        <button onclick="document.querySelector('#menu').classList.toggle('open')">
          <span class="material-symbols" style="font-size: 30px;">close</span>
        </button>
      </div>
      <div class="space"></div>

      {{ range .Site.Menus.main }}

      {{ $menu_item_url := .URL | relLangURL }}
      {{ $page_url:= $currentPage.RelPermalink | relLangURL }}

      <a class="{{ if eq $menu_item_url $page_url}}active{{ end }}" href="{{ .URL }}">
        {{ .Name }}
      </a>


      {{ end }}
    </div>
  </nav>
</header>